In [6]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [7]:
columns = ['Class','AGE','SEX','STEROID','ANTIVIRALS','FATIGUE','MALAISE','ANOREXIA','LIVER BIG','LIVER FIRM','SPLEEN PALPABLE','SPIDERS','ASCITRES','VARICES','BILIRUBIN','ALK PHOSPHATE','SGOT','ALBUMIN','PROTIME','HISTOLOGY']

In [8]:
df = pd.read_csv("hepatitis.csv", names=columns)

In [9]:
df.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITRES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1

In [11]:
df.replace('?',pd.NA,inplace= True)

In [12]:
df.isna().sum()

Class               0
AGE                 0
SEX                 0
STEROID             1
ANTIVIRALS          0
FATIGUE             1
MALAISE             1
ANOREXIA            1
LIVER BIG          10
LIVER FIRM         11
SPLEEN PALPABLE     5
SPIDERS             5
ASCITRES            5
VARICES             5
BILIRUBIN           6
ALK PHOSPHATE      29
SGOT                4
ALBUMIN            16
PROTIME            67
HISTOLOGY           0
dtype: int64

In [13]:
df['STEROID']= df['STEROID'].fillna(df['STEROID'].mode()[0])
df['FATIGUE'] = df['FATIGUE'].fillna(df['FATIGUE'].mode()[0])
df['MALAISE'] = df['MALAISE'].fillna(df['MALAISE'].mode()[0])
df['ANOREXIA'] = df['ANOREXIA'].fillna(df['ANOREXIA'].mode()[0])
df['LIVER BIG'] = df['LIVER BIG'].fillna(df['LIVER BIG'].mode()[0])
df['LIVER FIRM'] = df['LIVER FIRM'].fillna(df['LIVER FIRM'].mode()[0])
df['SPLEEN PALPABLE'] = df['SPLEEN PALPABLE'].fillna(df['SPLEEN PALPABLE'].mode()[0])
df['SPIDERS'] = df['SPIDERS'].fillna(df['SPIDERS'].mode()[0])
df['ASCITRES'] = df['ASCITRES'].fillna(df['ASCITRES'].mode()[0])
df['VARICES'] = df['VARICES'].fillna(df['VARICES'].mode()[0])
df['BILIRUBIN'] = df['BILIRUBIN'].fillna(df['BILIRUBIN'].mode()[0])
df['ALK PHOSPHATE']= df['ALK PHOSPHATE'].fillna(df['ALK PHOSPHATE'].mode()[0])
df['SGOT'] = df['SGOT'].fillna(df['SGOT'].mode()[0])
df['PROTIME'] = df['PROTIME'].fillna(df['PROTIME'].mode()[0])
df['ALBUMIN']=df['ALBUMIN'].fillna(df['ALBUMIN'].mode()[0])

In [14]:
df.isna().sum()

Class              0
AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITRES           0
VARICES            0
BILIRUBIN          0
ALK PHOSPHATE      0
SGOT               0
ALBUMIN            0
PROTIME            0
HISTOLOGY          0
dtype: int64

In [15]:
df.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITRES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,100,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,100,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,100,1
3,2,31,1,2,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,200,4.0,100,1

In [19]:
df.tail()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITRES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
150,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,85,242,3.3,50,2
151,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,100,2
152,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,100,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Class            155 non-null    int64
 1   AGE              155 non-null    int64
 2   SEX              155 non-null    int64
 3   STEROID          155 non-null    object
 4   ANTIVIRALS       155 non-null    int64
 5   FATIGUE          155 non-null    object
 6   MALAISE          155 non-null    object
 7   ANOREXIA         155 non-null    object
 8   LIVER BIG        155 non-null    object
 9   LIVER FIRM       155 non-null    object
 10  SPLEEN PALPABLE  155 non-null    object
 11  SPIDERS          155 non-null    object
 12  ASCITRES         155 non-null    object
 13  VARICES          155 non-null    object
 14  BILIRUBIN        155 non-null    object
 15  ALK PHOSPHATE    155 non-null    object
 16  SGOT             155 non-null    object
 17  ALBUMIN          155 non-null    object
 18  PROTIME          155 non-null    object
 19  HISTOLOGY        155 non-null    int64
dtypes: int64(5), object(15)
memory usage: 24.3+ KB

In [21]:
Maledf = df[df['Class']==2] #subset1

In [23]:
Maledf.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITRES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,100,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,100,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,100,1
3,2,31,1,2,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,200,4.0,100,1

In [24]:
Femaledf = df[df['Class']==1]#subset2
Femaledf.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITRES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
6,1,51,1,1,2,1,2,1,2,2,1,1,2,2,1.00,85,20,4.0,100,1
30,1,39,1,1,1,1,1,2,2,1,2,2,2,2,2.30,280,98,3.8,40,1
31,1,62,1,1,2,1,1,2,2,2,2,2,2,2,1.00,85,60,4.0,100,1
35,1,37,1,2,2,1,2,2,2,2,2,1,2,2,0.60,67,28,4.2,100,1
67,1,57,1,2,2,1,1,1,2,2,2,1,1,2,4.10,85,48,2.6,73,1

In [28]:
#Merge
newdf = pd.concat([Maledf,Femaledf])
newdf.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITRES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,100,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,100,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,100,1
3,2,31,1,2,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,200,4.0,100,1

In [26]:
#sort by age

In [34]:
sortbyage=newdf.sort_values(by = 'AGE')

In [35]:
sortbyage.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITRES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
110,2,7,1,2,2,2,2,2,2,1,1,2,2,2,0.70,256,25,4.2,100,2
37,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,100,1
121,2,20,1,1,2,1,1,1,2,2,2,1,1,2,1.00,160,118,2.9,23,2
148,2,20,1,1,2,2,2,2,2,2,2,2,2,2,0.90,89,152,4.0,100,2
101,2,22,1,2,2,2,2,2,2,2,2,2,2,2,0.70,85,24,4.0,100,2

In [45]:
sortbysgot = newdf.sort_values(by = 'SGOT', ascending = False) #sort by sgot

In [46]:
newdf.T

,0,1,2,3,4,5,7,8,9,10,...,131,134,138,141,143,144,146,147,150,154
Class,2,2,2,2,2,2,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
AGE,30,50,78,31,34,34,23,39,30,39,...,31,38,47,54,49,45,41,70,46,43
SEX,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
STEROID,1,1,2,2,2,2,2,2,2,1,...,1,1,2,1,1,2,2,1,2,2
ANTIVIRALS,2,2,2,1,2,2,2,2,2,1,...,2,2,2,2,2,2,2,2,2,2
FATIGUE,2,1,1,2,2,2,2,1,2,2,...,1,2,1,1,1,1,1,1,1,1
MALAISE,2,2,2,2,2,2,2,2,2,2,...,1,2,1,1,1,1,2,1,1,2
ANOREXIA,2,2,2,2,2,2,2,2,2,2,...,1,2,2,2,2,1,2,1,1,2
LIVER BIG,1,1,2,2,2,2,2,2,2,1,...,2,2,2,2,2,2,2,2,2,2
LIVER FIRM,2,2,2,2,2,2,2,1,2,1,...,2,1,1,2,2,2,1,2,2,2
SPLEEN PALPABLE,2,2,2,2,2,2,2,2,2,2,...,1,2,2,1,1,2,1,2,2,1
SPIDERS,2,2,2,2,2,2,2,2,2,2,...,2,2,1,2,1,1,1,2,1,1
ASCITRES,2,2,2,2,2,2,2,2,2,2,...,2,2,1,1,2,1,2,2,1,1
VARICES,2,2,2,2,2,2,2,2,2,2,...,2,2,1,2,2,2,1,2,1,2
BILIRUBIN,1.00,0.90,0.70,0.70,1.00,0.90,1.00,0.70,1.00,1.30,...,8.00,0.40,1.00,3.90,1.40,1.90,4.20,1.70,7.60,1.20
ALK PHOSPHATE,85,135,96,46,85,95,85,85,85,78,...,85,243,166,120,85,85,65,109,85,100
SGOT,18,42,32,52,200,28,20,48,120,30,...,101,49,30,28,70,114,120,528,242,19
ALBUMIN,4.0,3.5,4.0,4.0,4.0,4.0,4.0,4.4,3.9,4.4,...,2.2,3.8,2.6,3.5,3.5,2.4,3.4,2.8,3.3,3.1
PROTIME,100,100,100,80,100,75,100,100,100,85,...,100,90,31,43,35,100,100,35,50,42
HISTOLOGY,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2

In [47]:
melting = pd.melt(newdf,id_vars = ['Class', 'AGE'],value_name = 'value',var_name = 'Metrics')

In [48]:
melting.head()

   Class  AGE Metrics value
0      2   30     SEX     2
1      2   50     SEX     1
2      2   78     SEX     1
3      2   31     SEX     1
4      2   34     SEX     1

In [49]:
Casting=pd.pivot_table(newdf,index=['Class','AGE'],values='HISTOLOGY')
Casting.head()

           HISTOLOGY
Class AGE
1     30         2.0
      31         2.0
      33         2.0
      34         1.0
      35         2.0