In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('forestfires.csv')

In [3]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [4]:
df.columns

Index(['X', 'Y', 'month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH',
       'wind', 'rain', 'area'],
      dtype='object')

In [5]:
df.tail()

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

In [6]:
df['area'].unique()

array([0.00000e+00, 3.60000e-01, 4.30000e-01, 4.70000e-01, 5.50000e-01,
       6.10000e-01, 7.10000e-01, 7.70000e-01, 9.00000e-01, 9.50000e-01,
       9.60000e-01, 1.07000e+00, 1.12000e+00, 1.19000e+00, 1.36000e+00,
       1.43000e+00, 1.46000e+00, 1.56000e+00, 1.61000e+00, 1.63000e+00,
       1.64000e+00, 1.69000e+00, 1.75000e+00, 1.90000e+00, 1.94000e+00,
       1.95000e+00, 2.01000e+00, 2.14000e+00, 2.29000e+00, 2.51000e+00,
       2.53000e+00, 2.55000e+00, 2.57000e+00, 2.69000e+00, 2.74000e+00,
       3.07000e+00, 3.50000e+00, 4.53000e+00, 4.61000e+00, 4.69000e+00,
       4.88000e+00, 5.23000e+00, 5.33000e+00, 5.44000e+00, 6.38000e+00,
       6.83000e+00, 6.96000e+00, 7.04000e+00, 7.19000e+00, 7.30000e+00,
       7.40000e+00, 8.24000e+00, 8.31000e+00, 8.68000e+00, 8.71000e+00,
       9.41000e+00, 1.00100e+01, 1.00200e+01, 1.09300e+01, 1.10600e+01,
       1.12400e+01, 1.13200e+01, 1.15300e+01, 1.21000e+01, 1.30500e+01,
       1.37000e+01, 1.39900e+01, 1.45700e+01, 1.54500e+01, 1.72000e+01,
       1.92300e+01, 2.34100e+01, 2.42300e+01, 2.60000e+01, 2.61300e+01,
       2.73500e+01, 2.86600e+01, 2.94800e+01, 3.03200e+01, 3.17200e+01,
       3.18600e+01, 3.20700e+01, 3.58800e+01, 3.68500e+01, 3.70200e+01,
       3.77100e+01, 4.85500e+01, 4.93700e+01, 5.83000e+01, 6.41000e+01,
       7.13000e+01, 8.84900e+01, 9.51800e+01, 1.03390e+02, 1.05660e+02,
       1.54880e+02, 1.96480e+02, 2.00940e+02, 2.12880e+02, 1.09084e+03,
       1.01300e+01, 2.87000e+00, 7.60000e-01, 9.00000e-02, 7.50000e-01,
       2.47000e+00, 6.80000e-01, 2.40000e-01, 2.10000e-01, 1.52000e+00,
       1.03400e+01, 8.02000e+00, 1.38000e+00, 8.85000e+00, 3.30000e+00,
       4.25000e+00, 6.54000e+00, 7.90000e-01, 1.70000e-01, 4.40000e+00,
       5.20000e-01, 9.27000e+00, 3.09000e+00, 8.98000e+00, 1.11900e+01,
       5.38000e+00, 1.78500e+01, 1.07300e+01, 2.20300e+01, 9.77000e+00,
       2.47700e+01, 1.10000e+00, 2.42400e+01, 8.00000e+00, 2.64000e+00,
       8.64500e+01, 6.57000e+00, 3.52000e+00, 4.10000e-01, 5.18000e+00,
       1.42900e+01, 1.58000e+00, 3.78000e+00, 4.41000e+00, 3.43600e+01,
       7.21000e+00, 1.01000e+00, 2.18000e+00, 4.42000e+00, 3.33000e+00,
       6.58000e+00, 1.56400e+01, 1.12200e+01, 2.13000e+00, 5.60400e+01,
       7.48000e+00, 1.47000e+00, 3.93000e+00, 6.10000e+00, 5.83000e+00,
       2.81900e+01, 3.71000e+00, 7.31000e+00, 2.03000e+00, 1.72000e+00,
       5.97000e+00, 1.30600e+01, 1.26000e+00, 8.12000e+00, 1.09000e+00,
       3.94000e+00, 2.93000e+00, 5.65000e+00, 2.00300e+01, 1.26400e+01,
       1.83000e+01, 3.93500e+01, 1.74630e+02, 7.73000e+00, 1.63300e+01,
       5.86000e+00, 4.28700e+01, 1.21800e+01, 1.60000e+01, 2.45900e+01,
       2.87400e+01, 9.96000e+00, 3.01800e+01, 7.07600e+01, 5.17800e+01,
       3.64000e+00, 3.63000e+00, 8.16000e+00, 4.95000e+00, 6.04000e+00,
       3.95000e+00, 7.80000e+00, 4.62000e+00, 7.46280e+02, 7.02000e+00,
       2.44000e+00, 3.05000e+00, 1.85760e+02, 6.30000e+00, 7.20000e-01,
       4.96000e+00, 2.35000e+00, 3.20000e+00, 6.36000e+00, 1.53400e+01,
       5.40000e-01, 6.43000e+00, 3.30000e-01, 1.23000e+00, 3.35000e+00,
       9.71000e+00, 8.27500e+01, 3.32000e+00, 5.39000e+00, 6.84000e+00,
       3.18000e+00, 5.55000e+00, 6.61000e+00, 6.11300e+01, 3.84800e+01,
       7.03200e+01, 1.00800e+01, 3.19000e+00, 1.76000e+00, 7.36000e+00,
       2.21000e+00, 2.78530e+02, 2.75000e+00, 1.29000e+00, 2.64300e+01,
       2.07000e+00, 2.00000e+00, 1.64000e+01, 4.67000e+01, 4.33200e+01,
       8.59000e+00, 2.77000e+00, 1.46800e+01, 4.05400e+01, 1.08200e+01,
       4.95900e+01, 5.80000e+00, 2.17000e+00, 6.44000e+00, 5.42900e+01,
       1.11600e+01])

In [11]:
df.isna().sum()

X        0
Y        0
month    0
day      0
FFMC     0
DMC      0
DC       0
ISI      0
temp     0
RH       0
wind     0
rain     0
area     0
dtype: int64

In [12]:
notaffected = df[df['area']==0]

In [13]:
notaffected.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [17]:
len(notaffected)

247

In [19]:
notaffected

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...   ...
507  2  4   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.0
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.0
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0   0.0
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.0
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.0

[247 rows x 13 columns]

In [21]:
partiallyaffected = df[(df['area']>15) & (df['area']<30)]

In [22]:
partiallyaffected.head()

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
206  2  2   aug  sat  93.5  139.4  594.2  20.3  22.9  31   7.2   0.0  15.45
207  7  5   sep  tue  91.0  129.5  692.6   7.0  20.7  37   2.2   0.0  17.20
208  6  5   sep  fri  92.4  117.9  668.0  12.2  19.6  33   6.3   0.0  19.23
209  8  3   sep  thu  93.7   80.9  685.2  17.9  23.2  26   4.9   0.0  23.41
210  4  4   oct  sat  90.6   43.7  686.9   6.7  18.4  25   3.1   0.0  24.23

In [23]:
len(partiallyaffected)

26

In [24]:
#Merge

In [29]:
merge = [partiallyaffected,notaffected]
pd.concat(merge)

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
206  2  2   aug  sat  93.5  139.4  594.2  20.3  22.9  31   7.2   0.0  15.45
207  7  5   sep  tue  91.0  129.5  692.6   7.0  20.7  37   2.2   0.0  17.20
208  6  5   sep  fri  92.4  117.9  668.0  12.2  19.6  33   6.3   0.0  19.23
209  8  3   sep  thu  93.7   80.9  685.2  17.9  23.2  26   4.9   0.0  23.41
210  4  4   oct  sat  90.6   43.7  686.9   6.7  18.4  25   3.1   0.0  24.23
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
507  2  4   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0   0.00
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[273 rows x 13 columns]

In [35]:
#sort by temp:
sortedtemp = df.sort_values('temp', ascending=False)

In [36]:
sortedtemp

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
498  6  5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0  40.54
484  2  5   aug  sun  94.9  130.3  587.1  14.1  33.1  25   4.0   0.0  26.43
496  4  5   aug  mon  96.2  175.5  661.8  16.8  32.6  26   3.1   0.0   2.77
492  1  3   aug  fri  95.9  158.0  633.6  11.3  32.4  27   2.2   0.0   0.00
491  4  4   aug  thu  95.8  152.0  624.1  13.8  32.4  21   4.5   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
278  4  4   dec  mon  85.4   25.4  349.7   2.6   4.6  21   8.5   0.0  22.03
277  3  4   dec  mon  85.4   25.4  349.7   2.6   4.6  21   8.5   0.0  10.73
276  4  4   dec  mon  85.4   25.4  349.7   2.6   4.6  21   8.5   0.0  17.85
282  6  3   feb  sun  84.9   27.5  353.5   3.4   4.2  51   4.0   0.0   0.00
280  4  6   dec  fri  84.7   26.7  352.6   4.1   2.2  59   4.9   0.0   9.27

[517 rows x 13 columns]

In [37]:
#sort by wind
sortbywind = df.sort_values('wind',ascending = False)
sortbywind

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
469  6  3   apr  sun  91.0   14.6   25.6  12.3  13.7  33   9.4   0.0  61.13
475  2  5   jun  thu  93.7  121.7  350.2  18.0  22.7  40   9.4   0.0   3.19
168  6  5   mar  fri  91.2   48.3   97.8  12.5  14.6  26   9.4   0.0   2.53
411  7  4   feb  fri  84.6    3.2   43.6   3.3   8.2  53   9.4   0.0   4.62
142  8  6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0   0.61
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
166  6  5   aug  wed  92.1  111.2  654.1   9.6  16.6  47   0.9   0.0   2.29
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
188  6  4   mar  sat  90.8   41.9   89.4   7.9  13.3  42   0.9   0.0   7.40
258  3  4   aug  sat  91.8  170.9  692.3  13.7  20.6  59   0.9   0.0   0.00
249  3  4   aug  wed  93.1  157.3  666.7  13.5  21.7  40   0.4   0.0   2.47

[517 rows x 13 columns]

In [43]:
df1 = df[df['wind']>=8.9]

In [45]:
len(df1)

5

In [46]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,507,508,509,510,511,512,513,514,515,516
X,7,7,7,8,8,8,8,8,8,7,...,2,1,5,6,8,4,2,7,1,6
Y,5,4,4,6,6,6,6,6,6,5,...,4,2,4,5,6,3,4,4,4,3
month,mar,oct,oct,mar,mar,aug,aug,aug,sep,sep,...,aug,aug,aug,aug,aug,aug,aug,aug,aug,nov
day,fri,tue,sat,fri,sun,sun,mon,mon,tue,sat,...,fri,fri,fri,fri,sun,sun,sun,sun,sat,tue
FFMC,86.2,90.6,90.6,91.7,89.3,92.3,92.3,91.5,91.0,92.5,...,91.0,91.0,91.0,91.0,81.6,81.6,81.6,81.6,94.4,79.5
DMC,26.2,35.4,43.7,33.3,51.3,85.3,88.9,145.4,129.5,88.0,...,166.9,166.9,166.9,166.9,56.7,56.7,56.7,56.7,146.0,3.0
DC,94.3,669.1,686.9,77.5,102.2,488.0,495.6,608.2,692.6,698.6,...,752.6,752.6,752.6,752.6,665.6,665.6,665.6,665.6,614.7,106.7
ISI,5.1,6.7,6.7,9.0,9.6,14.7,8.5,10.7,7.0,7.1,...,7.1,7.1,7.1,7.1,1.9,1.9,1.9,1.9,11.3,1.1
temp,8.2,18.0,14.6,8.3,11.4,22.2,24.1,8.0,13.1,22.8,...,25.9,25.9,21.1,18.2,27.8,27.8,21.9,21.2,25.6,11.8
RH,51,33,33,97,99,29,27,86,63,40,...,41,41,71,62,35,32,71,70,42,31
wind,6.7,0.9,1.3,4.0,1.8,5.4,3.1,2.2,5.4,4.0,...,3.6,3.6,7.6,5.4,2.7,2.7,5.8,6.7,4.0,4.5
rain,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
area,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.17,0.43,0.0,6.44,54.29,11.16,0.0,0.0

In [53]:
melting = pd.melt(df, id_vars = ['area','month'])

In [54]:
melting.head()

   area month variable value
0   0.0   mar        X     7
1   0.0   oct        X     7
2   0.0   oct        X     7
3   0.0   mar        X     8
4   0.0   mar        X     8

In [55]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [56]:
df.pivot_table(index = 'month' ,columns = ['area' ,'temp','rain'], values = 'FFMC')

area  0.00                                                           ...  \
temp     4.2   5.2   5.3   5.5   6.7   8.0   8.2   8.3         8.7   ...
rain      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.2   0.0  ...
month                                                                ...
apr       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
aug       NaN   NaN   NaN   NaN   NaN  91.5   NaN   NaN   NaN   NaN  ...
dec       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
feb      84.9   NaN  84.1   NaN  84.2   NaN   NaN   NaN   NaN   NaN  ...
jan       NaN  18.7  82.1   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
jul       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
jun       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
mar       NaN   NaN   NaN  89.3   NaN   NaN  86.2  87.6  91.7  90.9  ...
may       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
nov       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
oct       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
sep       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

area  105.66  154.88  174.63  185.76  196.48  200.94  212.88  278.53  746.28   \
temp     24.3    17.7    21.9    26.2    19.6    18.2    18.8    22.6    27.5
rain      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
month
apr       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
aug       NaN     NaN    93.7    91.7    91.4     NaN     NaN     NaN    94.8
dec       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
feb       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
jan       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
jul       NaN     NaN     NaN     NaN     NaN     NaN     NaN    89.2     NaN
jun       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
mar       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
may       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
nov       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
oct       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
sep      84.4    92.5     NaN     NaN     NaN    92.5    91.0     NaN     NaN

area  1090.84
temp     25.1
rain      0.0
month
apr       NaN
aug       NaN
dec       NaN
feb       NaN
jan       NaN
jul       NaN
jun       NaN
mar       NaN
may       NaN
nov       NaN
oct       NaN
sep      92.5

[12 rows x 408 columns]